# Some string methods.

## We already talked a lot about strings, let's see some specific useful functions/methods (even though we still have to define what a function is)

In [ ]:
# the join method is a string method that takes a list as an argument. This is how it works
separator = '||'
words = ['apple', 'pear', 'orange']
print(separator.join(words))

In [ ]:
# the split method works on the other way, takes one string and return a list
s = "apple||pear||orange"
separator = '||'
l = s.split(separator)
print(l)

In [ ]:
# find gives the index of the first occurence of the argument
s = "apple||pear||orange"
f = s.find('p')
print(f)

In [ ]:
# count gives the total number of occurences
s = "apple||pear||orange"
c = s.count('p')
print(c)

In [ ]:
# replace returns a new string with an old term substituted with a new term
old = 'pear'
new = 'banana'
s = "apple||pear||orange"
r = s.replace(old, new)
print(r)

# Exercises

In [ ]:

# given the following list
names = ['anne', 'chris', 'daniel', 'denise', 'jacob', 'lisa', 'maria']

# what is the total length of all names items? 

# how many time the letter 'i' is present in the list?

# print all the unique letters in names list

# create a new list with 'christine' instead of 'chris' without using list assignment.

# consider the following list
numbers = [23456, 1233, 39390, 93862, 48725, 6345, 344934]

# print the concatenated sorted list of strings
# i.e. convert every item into a string, sort the resulting list and then concatenate it
list_of_strings = list(map(str, numbers))
sorted_list_of_strings = sorted(list_of_strings)
''.join(sorted_list_of_strings)

In [ ]:
list_of_strings

In [ ]:
sorted_list_of_strings

In [ ]:
sorted(numbers)

In [ ]:
str(numbers[0]), str(numbers[1])

In [ ]:
a = [10, 101, 111, 100000000]
sorted(a)

In [ ]:
sorted(map(str, a))

In [ ]:
numbers

In [ ]:
list(map(str, numbers))

In [ ]:
separator = ''
print(len(separator.join(names)))

In [ ]:
len(names[0])+len(names[1])+len(names[2])+len(names[3])+len(names[4])+len(names[5])+len(names[6])

In [ ]:
names_all = separator.join(names)
print(names_all.count('i'))

In [ ]:
names_all

In [ ]:
names[0].count('i')+names[1].count('i')+names[2].count('i')+names[3].count('i')+names[4].count('i')+names[5].count('i')+names[6].count('i')

In [ ]:
print(list(names_all))

In [ ]:
print(set(names_all))

In [ ]:
old = 'chris'
new = 'christine'
separator = ','
names_all = separator.join(names)
names_new = names_all.replace(old, new)
names_newn = names_new.split(separator)
print(names_newn)

In [ ]:
names_all

In [ ]:
names_new

### Let's see a very useful function not only for `strings`, the `map` function

In [ ]:
# let's start with the list of friends from previous examples
names = ['anne', 'chris', 'daniel', 'denise', 'jacob', 'lisa', 'maria'] # this is equivalent to list(pb.keys())

# and their numbers
numbers = ['333123456', '344561233', '33367409390', '3339386722', '344896725', '3339386345', '3449344766']

# this is the list of their family name
family_name = ['davies', 'cornell', 'redcliff', 'le blanche', 'ericsson', 'stuard', 'jackson']

# this is the list of their address
address = ['Main Street, 2', 'South Blv, 42', '4th Street', 'Sunset Road, 6', 'Rose flower Lane, 11', 'East end Road, 77']

In [ ]:
# I want to update my phone book dictionaries adding the family name and the address

pb_key = tuple(zip(names, family_name))
pb_value = tuple(zip(list(numbers), address))

In [ ]:
pb_2 = dict(zip(pb_key, pb_value))

In [ ]:
pb_2

In [ ]:
# what is jacob ericsson number and address?
pb_2[('jacob', 'ericsson')]

In [ ]:
# the join method is a string method that takes a list as an argument. This is how it works
separator = '::'
words = ['apple', 'pear', 'orange']
print(separator.join(words))

In [ ]:
# since I don't like the idea of using a tuple for name and family name, but I want both name and family name to be part of the same string
# I'm going to use join to create one string (name and family name), for each person. Let's introduce the map function

pb_key = list(map(' '.join, zip(names, family_name)))

In [ ]:
pb_2 = dict(zip(pb_key, pb_value))

In [ ]:
pb_2['jacob ericsson']

# Control Structures

With variable assignment and Control Structure you have essentially everything you need to build a real program (implement algorithms).

Let's start with the `IF` statement

The syntax is the following

```
if <condition>:
  <True block of code>
else:
  <False block of code>
```

The `condition` is **always** considered a `boolean` value. If it is `True`, the **True block** gets executed otherwise (`False`) the **False block** gets executed.

In [ ]:
a = 5
b = 1

if a > b:
  print('a is bigger than b')
else:
  print('b is bigger than a')

`a > b` returns a `boolean` value, but we are not forced to have an expression that return a `boolean` value because **anything** in the *guard* (*condition*) will be **casted** (evaluated) as `boolean`.

In [ ]:
a = 'hello world'
if a:
  print(a)

In [ ]:
a = []
if a: # can you think of another way to do that?
  print('a is not empty')
else:
  print('a is empty')

a.append('1')
if a:
  print('a is not empty', a)
else:
  print('a is empty')

# A small but important detour: code blocks and indentation in Python

Most of the programming languages like **C**, **C++**, and **Java** use braces `{ }` to define a block of code. Python, however, uses **indentation**. The enforcement of **indentation** in Python makes the code look neat and clean. This results in Python programs that look similar and consistent.

Now let's go back to control structures. 

We can also write more than one conditions mimicking what is know as **switch** statement in other programming languages.

In [ ]:
season = 'winter'

if season == 'spring':
  print('blooming flowers')
elif season == 'summer':
  print('hot and sunny')
elif season == 'autumn':
  print('falling leaves')
elif season == 'winter':
  print('cold and snow')

In [ ]:
if season == 'spring':
  print('blooming flowers')
elif season == 'summer':
  print('hot and sunny')
else:
  print('cold')

In [ ]:
if season == 'spring' or season == 'summer':
  print('hot')
else:
  print('cold')

# The FOR statement is by far, together with the IF statement, the control structures you are going to use the most. Let's see the syntax:

```
for <cycle variable> in <iterator or generator>:
  <block of code>
```

In [3]:
lst_a = ['a', 1, 2, 3.14, True, 'hello']

for e in lst_a: 
    print(e)

a
1
2
3.14
True
hello

In [ ]:
for e in lst_a:
    print('hello')

In [4]:
# let's introduce the range function that takes an integer x and return a generator of length x with the first x number
print(range(10))

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
for i in range(10):
    if i % 2:
        print(i, ' is odd')
    else:
        print(i, ' is even')

0  is even
1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd

# Exercises

In [14]:
# given the following list
names = ['anne', 'chris', 'daniel', 'denise', 'jacob', 'lisa', 'maria']

# print all names that starts with the letter 'd'

# the string method capitalize() will return a string with the first capital letter, i.e. 'ciao'.capitalize() will get Ciao
# create a new list where all names are capitalized

# how many times is the letter 'i' present in the names list (use a for loop statement this time)? Can you think of a way to count all unique letters?

# create a list of strings that represent even numbers from 100 to 150 included

In [24]:
# print all names that starts with the letter 'd'
for i in names:
    if i[0] =="d":
        print(i)

daniel
denise

In [26]:
for i in names:
    #if i[0] =="d":
    if i.startswith('d'):
        print(i)

daniel
denise

In [27]:
# print all names that starts with the letter 'd'
for i in names:
    if i[0] =="d":
        print(i)

# create a new list where all names are capitalized
new_list = list()
for i in names:
    capitalized_string = i.capitalize()
    print(capitalized_string)
    new_list.append(capitalized_string)
print(new_list)

daniel
denise
Anne
Chris
Daniel
Denise
Jacob
Lisa
Maria
['Anne', 'Chris', 'Daniel', 'Denise', 'Jacob', 'Lisa', 'Maria']

In [30]:
s = []
for i in range(len(names)):
        s.append(names[i].capitalize())
print(s)

['Anne', 'Chris', 'Daniel', 'Denise', 'Jacob', 'Lisa', 'Maria']

In [32]:
# how many times is the letter 'i' present in the names list (use a loop statement this time)? Can you think of a way to count all unique letters?
a = 0
for i in names:
    a = a + i.count('i')
    # a += i.count('i')
print(a)

5

In [33]:
# create a list of strings that represent even numbers from 100 to 150 included
n_even = []
for i in range(100, 151):
  if not i % 2:
    n_even.append(i)
print(n_even)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

In [19]:
newnames = []
for name in names:
    newnames += [name.capitalize()]
print(newnames)

# how many times is the letter 'i' present in the names list (use a loop statement this time)? Can you think of a way to count all unique letters?
count = 0
for name in names:
    for letter in name:
        if letter == 'i':
            count += 1
print(count)

['Anne', 'Chris', 'Daniel', 'Denise', 'Jacob', 'Lisa', 'Maria']
5

In [20]:
# create a list of strings that represent even numbers from 100 to 150 included
new_list1 = []
for i in range(100,151):
    if i % 2 == 0:
        new_list1 += [str(i)]
print(new_list1)

['100', '102', '104', '106', '108', '110', '112', '114', '116', '118', '120', '122', '124', '126', '128', '130', '132', '134', '136', '138', '140', '142', '144', '146', '148', '150']

In [21]:
s = []
for i in range(len(names)):
        s.append(names[i].capitalize())
print(s)

['Anne', 'Chris', 'Daniel', 'Denise', 'Jacob', 'Lisa', 'Maria']

In [34]:
# let's introduce the enumerate function that takes an iterator and return a generator of tuple, the first element of the tuple is the index of the element in the iterator while the second is the element itself
names = ['marco', 'chris', 'daniel', 'jacob', 'lisa', 'anne', 'denise']

print(enumerate(names))

<enumerate object at 0x7f54e050ed80>

In [35]:
list(enumerate(names))

[(0, 'marco'),
 (1, 'chris'),
 (2, 'daniel'),
 (3, 'jacob'),
 (4, 'lisa'),
 (5, 'anne'),
 (6, 'denise')]

In [38]:
for e in enumerate(names):
    print(e, type(e))

(0, 'marco') <class 'tuple'>
(1, 'chris') <class 'tuple'>
(2, 'daniel') <class 'tuple'>
(3, 'jacob') <class 'tuple'>
(4, 'lisa') <class 'tuple'>
(5, 'anne') <class 'tuple'>
(6, 'denise') <class 'tuple'>

In [41]:
for e in enumerate(names):
    print(e[0], e[1])

0 marco
1 chris
2 daniel
3 jacob
4 lisa
5 anne
6 denise

In [45]:
for i in range(len(names)):
    print(i, names[i])

0 marco
1 chris
2 daniel
3 jacob
4 lisa
5 anne
6 denise

In [42]:
# instead of using one cycle variable I can use two to identify the first and the second values of each tuple
for i, e in enumerate(names):
  print(e, 'has index (position)', i)

marco has index (position) 0
chris has index (position) 1
daniel has index (position) 2
jacob has index (position) 3
lisa has index (position) 4
anne has index (position) 5
denise has index (position) 6

In [46]:
names = ['marco', 'chris', 'daniel', 'jacob', 'lisa', 'anne', 'denise']
numbers = ['333123456', '344561233', '33367409390', '3339386722', '344896725', '3339386345', '3449344766']

zip(names, numbers)

In [47]:
list(zip(names, numbers))

[('marco', '333123456'),
 ('chris', '344561233'),
 ('daniel', '33367409390'),
 ('jacob', '3339386722'),
 ('lisa', '344896725'),
 ('anne', '3339386345'),
 ('denise', '3449344766')]

In [48]:
for i,j in zip(names, numbers):
  print(i, 'phone number is', j)

marco phone number is 333123456
chris phone number is 344561233
daniel phone number is 33367409390
jacob phone number is 3339386722
lisa phone number is 344896725
anne phone number is 3339386345
denise phone number is 3449344766

In [50]:
# the for statement is versitile and can be used for dictionaries as well using two cycle variable, one for the key and one for the value

d = dict(zip(names, numbers))
d

{'marco': '333123456',
 'chris': '344561233',
 'daniel': '33367409390',
 'jacob': '3339386722',
 'lisa': '344896725',
 'anne': '3339386345',
 'denise': '3449344766'}

In [52]:
list(d.items())

[('marco', '333123456'),
 ('chris', '344561233'),
 ('daniel', '33367409390'),
 ('jacob', '3339386722'),
 ('lisa', '344896725'),
 ('anne', '3339386345'),
 ('denise', '3449344766')]

In [54]:
for k, v in d.items():
  print(k, 'phone number is', v)

marco phone number is 333123456
chris phone number is 344561233
daniel phone number is 33367409390
jacob phone number is 3339386722
lisa phone number is 344896725
anne phone number is 3339386345
denise phone number is 3449344766

In [55]:
list1 = ['a', 'a', 1, 1, 2, 2, 'b', 'c', 'c']
set(list1)

{1, 2, 'a', 'b', 'c'}

In [60]:
names = ['marco', 'chris', 'daniel', 'jacob', 'lisa', 'anne', 'denise']
names

['marco', 'chris', 'daniel', 'jacob', 'lisa', 'anne', 'denise']

In [62]:
'ciao'.capitalize()

'Ciao'

In [61]:
map(capitalize, names)

NameError: name 'capitalize' is not defined

In [59]:
list2 = []
for i in tuple(list1):
    if i not in list2:
        list2.append(i)
        
print(list2)

['a', 1, 2, 'b', 'c']

# The `WHILE` statement, despite being the first and most powerful iteration statement, I think about it as a combination of `FOR` and `IF` and rarely use it (only for infinite loop).

```
while <condition>:
    <block of code>
```

In [3]:
a = 0

while a < 5:
    print(a)
    a += 1 # without this line, the loop will never end

0
1
2
3
4

In [4]:
n = 10
a, b = 0, 1
# a = 0
# b = 1
while n > 0:
    print(b)
    n -= 1
    a, b = b, a + b
    # a = b
    # b = a + b

1
1
2
3
5
8
13
21
34
55

In [5]:
n = 0
a, b = 0, 1
while True:
  print(n, b)
  n += 1
  a, b = b, a + b
  if n >= 10:
    break

0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55

In [6]:
n = 0
a, b = 0, 1
while True:
  print(n, b)
  n += 1
  a, b = b, a + b
  if n >= 10:
    break

0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55

In [7]:
l = [chr(i) for i in range(97, 123)] # ignore this line of code
l

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [8]:
for i in l:
  if i == 'f':
    break
  print(i)

a
b
c
d
e

In [13]:
for my_variable in l:
    if my_variable == 'f':
        continue
    print(my_variable)

a
b
c
d
e
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [14]:
idx = list(range(26))
idx

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [15]:
# do you remember the zip function? We can loop on 2 variables
idx = range(26)

for i, j in zip(idx, l):
    print(i, j)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [17]:
# we can obtain the same using enumerate
for i, j in enumerate(l):
    print(i, j)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k
11 l
12 m
13 n
14 o
15 p
16 q
17 r
18 s
19 t
20 u
21 v
22 w
23 x
24 y
25 z

In [18]:
list(enumerate(l)) == list(zip(range(len(l)), l))

True

# Exercises

In [21]:
# write the code for the fibonacci series using the for loop

# print * instead of number for the previous algorithm, i.e.
# *
# *
# **
# ***
# *****
# ********

# given the following list
names = ['anne', 'chris', 'daniel', 'denise', 'jacob', 'lisa', 'maria', 'jack', 'rose', 'adele', 'max', 'sue']

# create a list of all the possible couples

# given the two following lists
names = ['anne', 'chris', 'daniel', 'denise', 'jacob', 'lisa', 'maria', 'jack', 'rose', 'adele', 'max', 'sue']
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

# create a dictionary where the keys are letters and values are lists of names starting with that letter

In [50]:
# given the two following lists
names_d = {}
names = ['anne', 'chris', 'daniel', 'denise', 'jacob', 'lisa', 'maria', 'jack', 'rose', 'adele', 'max', 'sue']
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
# create a dictionary where the keys are letters and values are lists of names starting with that letter
for i in letters:
    names_d[i] = list()
    for h in names:
        if h.startswith(i): # h[0] == i
            names_d[i].append(h)
print(names_d)

{'a': ['anne', 'adele'], 'b': [], 'c': ['chris'], 'd': ['daniel', 'denise'], 'e': [], 'f': [], 'g': [], 'h': [], 'i': [], 'j': ['jacob', 'jack'], 'k': [], 'l': ['lisa'], 'm': ['maria', 'max'], 'n': [], 'o': [], 'p': [], 'q': [], 'r': ['rose'], 's': ['sue'], 't': [], 'u': [], 'v': [], 'w': [], 'x': [], 'y': [], 'z': []}

In [19]:
# luis
a, b = 0, 1
for i in range(10):
    a, b = b, a + b
    ast = "*" * b
    print(ast)

*
**
***
*****
********
*************
*********************
**********************************
*******************************************************
*****************************************************************************************

In [46]:
# MG
for i in names:
    for j in names:
        if i == j:
            print('BREAK,', i, j)
            break
        print(i,j)

BREAK, anne anne
chris anne
BREAK, chris chris
daniel anne
daniel chris
BREAK, daniel daniel
denise anne
denise chris
denise daniel
BREAK, denise denise
jacob anne
jacob chris
jacob daniel
jacob denise
BREAK, jacob jacob
lisa anne
lisa chris
lisa daniel
lisa denise
lisa jacob
BREAK, lisa lisa
maria anne
maria chris
maria daniel
maria denise
maria jacob
maria lisa
BREAK, maria maria
jack anne
jack chris
jack daniel
jack denise
jack jacob
jack lisa
jack maria
BREAK, jack jack
rose anne
rose chris
rose daniel
rose denise
rose jacob
rose lisa
rose maria
rose jack
BREAK, rose rose
adele anne
adele chris
adele daniel
adele denise
adele jacob
adele lisa
adele maria
adele jack
adele rose
BREAK, adele adele
max anne
max chris
max daniel
max denise
max jacob
max lisa
max maria
max jack
max rose
max adele
BREAK, max max
sue anne
sue chris
sue daniel
sue denise
sue jacob
sue lisa
sue maria
sue jack
sue rose
sue adele
sue max
BREAK, sue sue

In [47]:
for x in range(0,len(names)):
    for y in range(x+1,len(names)):
        print([names[x], names[y]])

['anne', 'chris']
['anne', 'daniel']
['anne', 'denise']
['anne', 'jacob']
['anne', 'lisa']
['anne', 'maria']
['anne', 'jack']
['anne', 'rose']
['anne', 'adele']
['anne', 'max']
['anne', 'sue']
['chris', 'daniel']
['chris', 'denise']
['chris', 'jacob']
['chris', 'lisa']
['chris', 'maria']
['chris', 'jack']
['chris', 'rose']
['chris', 'adele']
['chris', 'max']
['chris', 'sue']
['daniel', 'denise']
['daniel', 'jacob']
['daniel', 'lisa']
['daniel', 'maria']
['daniel', 'jack']
['daniel', 'rose']
['daniel', 'adele']
['daniel', 'max']
['daniel', 'sue']
['denise', 'jacob']
['denise', 'lisa']
['denise', 'maria']
['denise', 'jack']
['denise', 'rose']
['denise', 'adele']
['denise', 'max']
['denise', 'sue']
['jacob', 'lisa']
['jacob', 'maria']
['jacob', 'jack']
['jacob', 'rose']
['jacob', 'adele']
['jacob', 'max']
['jacob', 'sue']
['lisa', 'maria']
['lisa', 'jack']
['lisa', 'rose']
['lisa', 'adele']
['lisa', 'max']
['lisa', 'sue']
['maria', 'jack']
['maria', 'rose']
['maria', 'adele']
['maria', 'max']
['maria', 'sue']
['jack', 'rose']
['jack', 'adele']
['jack', 'max']
['jack', 'sue']
['rose', 'adele']
['rose', 'max']
['rose', 'sue']
['adele', 'max']
['adele', 'sue']
['max', 'sue']

In [28]:
# marco
couples = []
for n1 in names:
    for n2 in names:
        if n1 == n2:
            continue
        if (n1, n2) in couples or (n2, n1) in couples:
            continue
        couples.append((n1, n2))
print(couples)

couples = []
for i, n1 in enumerate(names):
    for j, n2 in enumerate(names[i+1:]):
        couples.append((n1, n2))
print(couples)

d = {}
for l in letters:
    d[l] = []
for n in names:
    d[n[0]].append(n)
print(d)

[('anne', 'chris'), ('anne', 'daniel'), ('anne', 'denise'), ('anne', 'jacob'), ('anne', 'lisa'), ('anne', 'maria'), ('anne', 'jack'), ('anne', 'rose'), ('anne', 'adele'), ('anne', 'max'), ('anne', 'sue'), ('chris', 'daniel'), ('chris', 'denise'), ('chris', 'jacob'), ('chris', 'lisa'), ('chris', 'maria'), ('chris', 'jack'), ('chris', 'rose'), ('chris', 'adele'), ('chris', 'max'), ('chris', 'sue'), ('daniel', 'denise'), ('daniel', 'jacob'), ('daniel', 'lisa'), ('daniel', 'maria'), ('daniel', 'jack'), ('daniel', 'rose'), ('daniel', 'adele'), ('daniel', 'max'), ('daniel', 'sue'), ('denise', 'jacob'), ('denise', 'lisa'), ('denise', 'maria'), ('denise', 'jack'), ('denise', 'rose'), ('denise', 'adele'), ('denise', 'max'), ('denise', 'sue'), ('jacob', 'lisa'), ('jacob', 'maria'), ('jacob', 'jack'), ('jacob', 'rose'), ('jacob', 'adele'), ('jacob', 'max'), ('jacob', 'sue'), ('lisa', 'maria'), ('lisa', 'jack'), ('lisa', 'rose'), ('lisa', 'adele'), ('lisa', 'max'), ('lisa', 'sue'), ('maria', 'jack'), ('maria', 'rose'), ('maria', 'adele'), ('maria', 'max'), ('maria', 'sue'), ('jack', 'rose'), ('jack', 'adele'), ('jack', 'max'), ('jack', 'sue'), ('rose', 'adele'), ('rose', 'max'), ('rose', 'sue'), ('adele', 'max'), ('adele', 'sue'), ('max', 'sue')]
[('anne', 'chris'), ('anne', 'daniel'), ('anne', 'denise'), ('anne', 'jacob'), ('anne', 'lisa'), ('anne', 'maria'), ('anne', 'jack'), ('anne', 'rose'), ('anne', 'adele'), ('anne', 'max'), ('anne', 'sue'), ('chris', 'daniel'), ('chris', 'denise'), ('chris', 'jacob'), ('chris', 'lisa'), ('chris', 'maria'), ('chris', 'jack'), ('chris', 'rose'), ('chris', 'adele'), ('chris', 'max'), ('chris', 'sue'), ('daniel', 'denise'), ('daniel', 'jacob'), ('daniel', 'lisa'), ('daniel', 'maria'), ('daniel', 'jack'), ('daniel', 'rose'), ('daniel', 'adele'), ('daniel', 'max'), ('daniel', 'sue'), ('denise', 'jacob'), ('denise', 'lisa'), ('denise', 'maria'), ('denise', 'jack'), ('denise', 'rose'), ('denise', 'adele'), ('denise', 'max'), ('denise', 'sue'), ('jacob', 'lisa'), ('jacob', 'maria'), ('jacob', 'jack'), ('jacob', 'rose'), ('jacob', 'adele'), ('jacob', 'max'), ('jacob', 'sue'), ('lisa', 'maria'), ('lisa', 'jack'), ('lisa', 'rose'), ('lisa', 'adele'), ('lisa', 'max'), ('lisa', 'sue'), ('maria', 'jack'), ('maria', 'rose'), ('maria', 'adele'), ('maria', 'max'), ('maria', 'sue'), ('jack', 'rose'), ('jack', 'adele'), ('jack', 'max'), ('jack', 'sue'), ('rose', 'adele'), ('rose', 'max'), ('rose', 'sue'), ('adele', 'max'), ('adele', 'sue'), ('max', 'sue')]
{'a': ['anne', 'adele'], 'b': [], 'c': ['chris'], 'd': ['daniel', 'denise'], 'e': [], 'f': [], 'g': [], 'h': [], 'i': [], 'j': ['jacob', 'jack'], 'k': [], 'l': ['lisa'], 'm': ['maria', 'max'], 'n': [], 'o': [], 'p': [], 'q': [], 'r': ['rose'], 's': ['sue'], 't': [], 'u': [], 'v': [], 'w': [], 'x': [], 'y': [], 'z': []}

In [51]:
# list comprehension is a faster way to create lists in Python

a = []
for i in range(10):
    a.append(i**2)

print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [55]:
a = [i+2 for i in range(10)]
print(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [57]:
# chr and ord are two functions that convert respectively a number ascii code into the corresponding character and vice-versa

chr(97), chr(122)

('a', 'z')

In [58]:
[chr(i) for i in range(97, 123)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [59]:
ord('a'), ord('b')

(97, 98)

In [60]:
letters = []
for i in range(97, 97 + 26):
    letters.append(chr(i))

print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [61]:
letters = [chr(i) for i in range(97, 97 + 26)]
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [63]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
odd_numbers = [i for i in range(10) if i % 2]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [65]:
{chr(i): i for i in range(97, 123)} # what is it?

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}

In [66]:
# you can use if and else within the list comprehension but with a bit different syntax
[x for x in range(10) if x % 2 == 1]

[1, 3, 5, 7, 9]

In [67]:
[x if x % 2 == 1 else '*' for x in range(10)]

['*', 1, '*', 3, '*', 5, '*', 7, '*', 9]

# Exercises

In [74]:
# given the two following lists
names = ['anne', 'chris', 'daniel', 'denise', 'jacob', 'lisa', 'maria', 'jack', 'rose', 'adele', 'max', 'sue']
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

# create a dictionary where keys are items' names and value is its length

# create a dictionary where the keys are letters and values are lists of names starting with that letter, but this time with list/dict comprehension if possible

# consider the following list
idx = [2, 1, 11, 7, 0, 3, 4, 8, 5, 10, 9, 6]

# reorder names using idx as the index order, that is anne should be moved to third position, index 2 instead of first position, index 0

# create a dictionary with two keys 'even' and 'odd' an put as values the first 25 even and the first 25 odd numbers respectively

In [78]:
d = {i:len(i) for i in names}

In [79]:
dd = [{i:len(i)} for i in names]

In [71]:
[{i,j} if j[0] == i else {i:''} for i,j in zip(letters, names)]

[{'a', 'anne'},
 {'b': ''},
 {'c': ''},
 {'d', 'denise'},
 {'e': ''},
 {'f': ''},
 {'g': ''},
 {'h': ''},
 {'i': ''},
 {'j': ''},
 {'k': ''},
 {'l': ''}]

In [72]:
 { i: list(h for h in names if h[0] == i) for i in letters}

{'a': ['anne', 'adele'],
 'b': [],
 'c': ['chris'],
 'd': ['daniel', 'denise'],
 'e': [],
 'f': [],
 'g': [],
 'h': [],
 'i': [],
 'j': ['jacob', 'jack'],
 'k': [],
 'l': ['lisa'],
 'm': ['maria', 'max'],
 'n': [],
 'o': [],
 'p': [],
 'q': [],
 'r': ['rose'],
 's': ['sue'],
 't': [],
 'u': [],
 'v': [],
 'w': [],
 'x': [],
 'y': [],
 'z': []}

In [87]:
d = {l: [] for l in letters for n in names}
d

{'a': [],
 'b': [],
 'c': [],
 'd': [],
 'e': [],
 'f': [],
 'g': [],
 'h': [],
 'i': [],
 'j': [],
 'k': [],
 'l': [],
 'm': [],
 'n': [],
 'o': [],
 'p': [],
 'q': [],
 'r': [],
 's': [],
 't': [],
 'u': [],
 'v': [],
 'w': [],
 'x': [],
 'y': [],
 'z': []}

In [88]:
for n in names:
    key = n[0]
    d[key].append(n)
print(d)

{'a': ['anne', 'adele'], 'b': [], 'c': ['chris'], 'd': ['daniel', 'denise'], 'e': [], 'f': [], 'g': [], 'h': [], 'i': [], 'j': ['jacob', 'jack'], 'k': [], 'l': ['lisa'], 'm': ['maria', 'max'], 'n': [], 'o': [], 'p': [], 'q': [], 'r': ['rose'], 's': ['sue'], 't': [], 'u': [], 'v': [], 'w': [], 'x': [], 'y': [], 'z': []}

In [89]:
a = list(zip(idx, names))

In [90]:
a

[(2, 'anne'),
 (1, 'chris'),
 (11, 'daniel'),
 (7, 'denise'),
 (0, 'jacob'),
 (3, 'lisa'),
 (4, 'maria'),
 (8, 'jack'),
 (5, 'rose'),
 (10, 'adele'),
 (9, 'max'),
 (6, 'sue')]

In [91]:
sorted(a)

[(0, 'jacob'),
 (1, 'chris'),
 (2, 'anne'),
 (3, 'lisa'),
 (4, 'maria'),
 (5, 'rose'),
 (6, 'sue'),
 (7, 'denise'),
 (8, 'jack'),
 (9, 'max'),
 (10, 'adele'),
 (11, 'daniel')]

In [94]:
[i for i in zip(idx,names)]

[(2, 'anne'),
 (1, 'chris'),
 (11, 'daniel'),
 (7, 'denise'),
 (0, 'jacob'),
 (3, 'lisa'),
 (4, 'maria'),
 (8, 'jack'),
 (5, 'rose'),
 (10, 'adele'),
 (9, 'max'),
 (6, 'sue')]

In [97]:
sorted_names = sorted(list(zip(idx, names)))
[i[1] for i in sorted_names]

['jacob',
 'chris',
 'anne',
 'lisa',
 'maria',
 'rose',
 'sue',
 'denise',
 'jack',
 'max',
 'adele',
 'daniel']

In [76]:
sorted([i for i in zip(idx,names)])

[(0, 'jacob'),
 (1, 'chris'),
 (2, 'anne'),
 (3, 'lisa'),
 (4, 'maria'),
 (5, 'rose'),
 (6, 'sue'),
 (7, 'denise'),
 (8, 'jack'),
 (9, 'max'),
 (10, 'adele'),
 (11, 'daniel')]

In [99]:
reordered = names.copy()

In [100]:
reordered == names

True

In [101]:
id(reordered)

140689573554112

In [102]:
id(names)

140689573175936

In [104]:
list(enumerate(idx))

[(0, 2),
 (1, 1),
 (2, 11),
 (3, 7),
 (4, 0),
 (5, 3),
 (6, 4),
 (7, 8),
 (8, 5),
 (9, 10),
 (10, 9),
 (11, 6)]

In [ ]:
for i, j in enumerate(idx): # i current position, j is the new position
  e = names[i]
  reordered[j] = e
print(reordered)

In [ ]:
{'odd': [1,3,5], 'even': [0, 2, 4]}

In [108]:
d = {'odd': [x for x in range(50) if x % 2 == 1], 'even': [x for x in range(1,51) if x % 2 == 0]}

In [109]:
d

{'odd': [1,
  3,
  5,
  7,
  9,
  11,
  13,
  15,
  17,
  19,
  21,
  23,
  25,
  27,
  29,
  31,
  33,
  35,
  37,
  39,
  41,
  43,
  45,
  47,
  49],
 'even': [2,
  4,
  6,
  8,
  10,
  12,
  14,
  16,
  18,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  34,
  36,
  38,
  40,
  42,
  44,
  46,
  48,
  50]}

In [106]:
d = { print('odd') if x % 2 else print('even'): x for x in range(51)}

even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even

In [107]:
d

{None: 50}

## Marco's solutions

In [ ]:
# given the two following lists
names = ['anne', 'chris', 'daniel', 'denise', 'jacob', 'lisa', 'maria', 'jack', 'rose', 'adele', 'max', 'sue']
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

# create a dictionary where keys are items' names and value is its length
d = {x:len(x) for x in names}
print(d)

# create a dictionary where the keys are letters and values are lists of names starting with that letter, but this time with list/dict comprehension if possible
d = {l: [] for l in letters for n in names}
for n in names:
  d[n[0]].append(n)
print(d)

# consider the following list
idx = [2, 1, 11, 7, 0, 3, 4, 8, 5, 10, 9, 6]

# reorder names using idx as the index order, that is anne should be moved to third position, index 2 instead of first position, index 0
reordered = names.copy()
for i, e in zip(idx, names):
  reordered[i] = e
print(reordered)

reordered = names.copy()
for i, j in enumerate(idx): # i current position, j is the new position
  e = names[i]
  reordered[j] = e
print(reordered)

print([x[1] for x in sorted(zip(idx, names))])

# create a dictionary with two keys 'even' and 'odd' an put as values the first 25 even and the first 50 odd numbers respectively
d = {'odd': [x for x in range(50) if x % 2 == 1], 'even': [x for x in range(1,51) if x % 2 == 0]}
print(d)